<p>Generates fake addresses, names, text and more</p><br/>

<span style="color:grey">
Random Name: {{ faker.name }}<br/>
Random Address: {{ faker.address }}<br/><br/>
</span>

<br /><br />

<a onclick="location.reload();"><span style="font-size: 5em"
                                      onMouseOver="this.style.color='#fb747f'"
                                      onMouseOut="this.style.color='#ff1a1a'"
    >♻</span>
    <br/> Get new values</a>

