<p>Easily generate log files and pass in different types of logs (Alert, Warning, Error, Emergency, etc)</p>

<div style="font-size: smaller" width="500px">
    <pre>{{ module.log }}
    </pre>
</div>