<p>Login using Facebook and more</p>

<a href="http://localhost/PHP_Mods-N-Libs_Gallery_vast/web/opauth/example/twitter"/><img src="/twitter-login.png" alt="Twitter Login"/></a>

<a href="http://localhost/PHP_Mods-N-Libs_Gallery_vast/web/opauth/example/facebook"/><img src="/facebook-login.png" alt="Facebook Login"/></a><br />

<!--
<a href="http://localhost/PHP_Mods-N-Libs_Gallery_vast/web/opauth/example/instagram"/>
Instagram
</a><br />

<a href="http://localhost/PHP_Mods-N-Libs_Gallery_vast/web/opauth/example/google"/>
    Google
</a><br />

<a href="http://localhost/PHP_Mods-N-Libs_Gallery_vast/web/opauth/example/live"/>
    Windows Live
</a><br />
-->
