{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <!-- tabs thanks to wallaceerick (codepen) -->
            <ul class="tabs" role="tablist">
                <li>
                    <input type="radio" name="tabs" id="tab1" checked/>
                    <label for="tab1"
                           role="tab"
                           aria-selected="true"
                           aria-controls="panel1"
                           tabindex="0">Imagine</label>

                    <div id="tab-content1"
                         class="tab-content"
                         role="tabpanel"
                         aria-labelledby="description"
                         aria-hidden="false">

                        <div id="next">
                            <h4>{% include view %}</h4>
                        </div>

                    </div>
                </li>


                <li>
                    <input type="radio" name="tabs" id="tab3"/>
                    <label for="tab3"
                           role="tab"
                           aria-selected="true"
                           aria-controls="panel3"
                           tabindex="0">Faker</label>

                    <div id="tab-content3"
                         class="tab-content"
                         role="tabpanel"
                         aria-labelledby="description"
                         aria-hidden="false">

                        <div id="next">
                            <h4>{% include view2 %}</h4>
                        </div>

                    </div>
                </li>

                <li>
                    <input type="radio" name="tabs" id="tab4"/>
                    <label for="tab4"
                           role="tab"
                           aria-selected="true"
                           aria-controls="panel4"
                           tabindex="0">Geocoder</label>

                    <div id="tab-content4"
                         class="tab-content"
                         role="tabpanel"
                         aria-labelledby="description"
                         aria-hidden="false">

                        <div id="next">
                            <h4>{% include view3 %}</h4>
                        </div>

                    </div>
                </li>

                <li>
                    <input type="radio" name="tabs" id="tab5"/>
                    <label for="tab5"
                           role="tab"
                           aria-selected="true"
                           aria-controls="panel5"
                           tabindex="0">Monolog</label>

                    <div id="tab-content5"
                         class="tab-content"
                         role="tabpanel"
                         aria-labelledby="description"
                         aria-hidden="false">

                        <div id="next">
                            <h4>{% include view4 %}</h4>
                        </div>

                    </div>
                </li>

                <li>
                    <input type="radio" name="tabs" id="tab6"/>
                    <label for="tab6"
                           role="tab"
                           aria-selected="true"
                           aria-controls="panel6"
                           tabindex="0">Opauth</label>

                    <div id="tab-content6"
                         class="tab-content"
                         role="tabpanel"
                         aria-labelledby="description"
                         aria-hidden="false">

                        <div id="next">
                            <h4>{% include view5 %}</h4>
                        </div>

                    </div>
                </li>


                <li>
                    <input type="radio" name="tabs" id="tab30"/>
                    <label for="tab30"
                           role="tab"
                           aria-selected="false"
                           aria-controls="panel30"
                           tabindex="0" style="background-color: #E0E0E0;color: black;">More</label>

                    <div id="tab-content30"
                         class="tab-content"
                         role="tabpanel"
                         aria-labelledby="specification"
                         aria-hidden="true">
                        Not yet available.
                    </div>
                </li>
            </ul>


        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
