{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <br/><br/>

                <h2>{{ item.name }}</h2>
            </div>
            {% include view %}


        </div>
    </div>
{% endblock %}
